[main 24748b5] first commit]cat
 9 files changed, 113 insertions(+)
 create mode 100644 .gitignore
 create mode 100644 config.py
 create mode 100644 main.py
 create mode 100644 pipeline.py
 create mode 100644 requirements.txt
 create mode 100644 src/data/__init__.py
 create mode 100644 src/data/data_chunking.py
 create mode 100644 src/data/data_loader.py
 create mode 100644 tests/__init__.py
.env
__pycache__/
*.pyc
